.home-page {
  background: #283048;
  background: -webkit-linear-gradient(to right, #859398, #283048);
  background: linear-gradient(to right, #859398, #283048);

  /* background: #bbd2c5;
  background: -webkit-linear-gradient(to right, #536976, #bbd2c5);
  background: linear-gradient(to right, #536976, #bbd2c5); */

  /* background: #1d4350;
  background: -webkit-linear-gradient(
    to right,
    #a43931,
    #1d4350
  );
  background: linear-gradient(
    to right,
    #a43931,
    #1d4350
  ); */
}

ul li {
  list-style: none;
}

.nav-bar {
  margin-bottom: 8vh;
  color: white;
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
}

.nav-list {
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  justify-content: space-evenly;
}

.header {
  color: white;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20vh;
}

#header-des {
  margin: auto;
  width: 30%;
}

#header-des button {
  width: fit-content;
  padding: 1vh 3vh;
  border: white solid 1px;
  border-radius: 15px;
}

#header-des h1 {
  font-weight: bold;
  font-size: 3rem;
}

#header-photo {
  width: 60%;
}

.select {
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 6vh;
  width: 20%;
}

#header-photo img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

.form-section {
  background-color: #b8bdbe;
  padding-bottom: 5vh;
  padding-top: 3vh;
}

#input {
  min-height: 38px;
  max-width: 267.797px;
  /* width: 267.797px; */
  border-radius: 5px;
  border: white 1px solid;
}

.predict {
  margin-bottom: 4vh;
  background-color: #283048;
  color: white;
  padding: 2vh 4vh;
  width: 40%;
  margin: auto;
  margin-bottom: 4vh;
  border-radius: 15px;
}

.submit {
  margin-top: 2vh;
  border-radius: 20px;
  padding: 2vh 4vh;
  border: #343d57 2px solid;
  font-size: larger;
}
